@import "tailwindcss";
 
/* stylelint-disable at-rule-no-unknown */
@theme {
  --font-mono: "IBMPlexMono", monospace;
  --color-primary-100: #2a324b;
  --color-primary-500: #151821;
  --color-primary-900: #0e0e14;
}

#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(165deg, rgba(128, 128, 128, 0.1) 3.89%, rgba(119, 119, 119, 0) 66.42%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    line-height: normal;
    width: 100%;
    background: #000000;
}

/* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
    /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Makes the track (bar background) transparent */
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    /* White color with 20% opacity */
    border-radius: 4px;
    /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
    /* Slightly more visible on hover */
}

.domain {
    stroke-opacity: 0.1 !important;
}

.scroll-stick-left {
    overflow-x: auto;
    white-space: nowrap;
    direction: rtl;
    /* Makes default scroll at right */
}

.scroll-stick-left>* {
    direction: ltr;
    /* Prevents content mirroring */
}

.coolnum::after {
    content: ']';
    background: linear-gradient(0deg, #57FFFF -11.9%, #E777FF 18.08%, #FFD89E 49.03%, #59F3FF 80.95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    margin-left: 8px;
}

.coolnum::before {
    content: '[';
    background: linear-gradient(0deg, #57FFFF -11.9%, #E777FF 18.08%, #FFD89E 49.03%, #59F3FF 80.95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    margin-right: 8px;
}

.tick-unlabeled { display: none; }
.tick-labeled { display: none; }